
@{
    Layout = "~/Views/Shared/_LayoutTransaction.cshtml";
}

<style>
   /* .lidisabled {
        pointer-events: none;
    }*/
</style>
<div class="content-wrapper">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Application from</h1>
            <small>Lorem Ipsum is simply dummy text of the printing </small>
        </section>
        <section class="tab-wrapper">
            <div class="row">
                <div class="col-xs-4">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left sideways">
                        <li class="active" id="panel1">
                            <a href="#a-detail" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Applicant Details</p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>
                            </a>
                        </li>
                        <li id="panel2" class="lidisabled">
                            <a href="#a-form" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Application Form</p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="
                            glyphicon glyphicon-envelope
                            form-control-feedback
                          "></span>
                                </div>
                            </a>
                        </li>
                        <li id="panel3" class="lidisabled">
                            <a href="#a-pdf" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Document PDF</p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="
                            glyphicon glyphicon-envelope
                            form-control-feedback
                          "></span>
                                </div>
                            </a>
                        </li>
                        <li id="panel4" class="lidisabled">
                            <a href="#a-upload-doc" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Upload Document </p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="
                            glyphicon glyphicon-envelope
                            form-control-feedback
                          "></span>
                                </div>
                            </a>
                        </li>
                        <li id="panel5" class="lidisabled">
                            <a href="#a-verification" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Verification</p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="
                            glyphicon glyphicon-envelope
                            form-control-feedback
                          "></span>
                                </div>
                            </a>
                        </li>
                        <li id="panel6" class="lidisabled">
                            <a href="#a-confirmation" data-toggle="tab">
                                <div class="tab-align">
                                    <div class="tab-heading-content">
                                        <p>Confirmation</p>
                                        <small>Lorem ipsume is simply dymmy</small>
                                    </div>
                                    <span class="
                            glyphicon glyphicon-envelope
                            form-control-feedback
                          "></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-8">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="a-detail">
                            @Html.Action("ApplicantDetails", "Transaction")
                        </div>
                        <div class="tab-pane" id="a-form">
                            @Html.Action("ApplicationForm", "Transaction")
                        </div>
                        <div class="tab-pane" id="a-pdf">a-pdf Tab.</div>
                        <div class="tab-pane" id="a-upload-doc">
                            @Html.Action("UploadDocument", "Transaction")
                        </div>
                        <div class="tab-pane" id="a-verification">
                            @Html.Action("DocumentVerification", "Transaction")
                        </div>
                        <div class="tab-pane" id="a-confirmation">
                            @Html.Action("DocumentConfirmation", "Transaction")
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
    </div>
    <!-- /.container -->
</div>
